In [1]:
print("Hello world")

Hello world

In [2]:
for i in range[100]
print("Hello World")

SyntaxError: expected ':' (3792518164.py, line 1)

In [3]:
for i in range(100):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [4]:
print(2+2)

4

In [5]:
print("2"+"2")

22

In [6]:
print("A"+1)

TypeError: can only concatenate str (not "int") to str

In [7]:
a=10
print(a)

10

In [8]:
type (a)

int

In [9]:
name="Bivhas"
print(name)

Bivhas

In [10]:
type(name)

str

In [15]:
name="Bivhas"
Age=19
Rollno = 12
print(name,"\n", Age,"\n", Rollno)

Bivhas
 19
 12

In [16]:
a,b,c=10,20,30
print(a,"\n",b,"\n",c)

10
 20
 30

In [17]:
a=2+3j
b=3+4j
print(a+b)

(5+7j)

In [19]:
print(a.real)

2.0

In [20]:
print(b.imag)

4.0

In [21]:
print(b.conjugate())

(3-4j)

In [26]:
if(5>10):
    print("5 is greater")
else:
    print("5 is less than 10")

5 is less than 10

In [ ]:
a= input()
print(a)

In [4]:
x=int(input("Enter your age"))
print(x)
if(x>18):
    print("eligible")
type(x)

19
eligible

int

In [6]:
a="Bivhas"
a[0]="i"

TypeError: 'str' object does not support item assignment

In [7]:
print(a)

Bivhas

In [8]:
print(a[1:4])

ivh

In [9]:
a="I am learning python"
print(a)

I am learning python

In [11]:
print(a[0:5:2])

Ia

In [12]:
print(a[::-1])

nohtyp gninrael ma I

In [20]:
name="i am learning Python"
print(name.upper())
print(name.lower())
print(name.title())
print(name.replace("th","thh"))
print(name.split())
print(name.split(" ",-1))
print(name)

I AM LEARNING PYTHON
i am learning python
I Am Learning Python
i am learning Pythhon
['i', 'am', 'learning', 'Python']
['i', 'am', 'learning', 'Python']
i am learning Python